<div class="test" data-stellar-ratio="1.5">
  <img src="images/papillon.gif">
</div>

<div class="encart">
  <div class="encart-txt-pos">
    <h2>Un Bout De Ficel</h2>
    <h1>Studio de création multimédia</h1>
    <h3>Développement Web Full Stack<br>
    Modélisation 3D, Animation, Unreal Engine <br>
    Illustration & Infographie</h3>

  </div>
  <a href="#aptitudes" class="btn btn-primary">Découvrir</a>
</div>


