
<div class="encart">
  <div class="encart-txt-pos" >
    <h2>Un Bout De Ficel</h2>
    <h1>Studio multimédia</h1>
    <h3>Développement Web Full Stack<br>
    Infographie 2D/3D & Illustration <br>
    Musique et son.</h3>
    <h2>PORTFOLIO</h2>
    <h2>Freelance</h2>
    <h5>Serge CLEORON</h5>
  </div>
</div>


