
    <div class="encart">
      <div class="encart-txt-pos" >
        <h1>Studio multimédia</h1>
        <h1>Un Bout De Ficel</h1>
        <h2>PORTFOLIO</h2>
        <h4>Développement / Web Design<br>
        3D / Illustration / Son</h4>
        <h2>Freelance</h2>
        <p>Par Serge CLEORON</p></div>
    </div>


