<div class="navbar-ficel">
  <!-- Logo -->
  <a href="https://backseo.github.io/portfolio" class="navbar-ficel-brand">
  <%= image_tag "aliensit.gif", alt: "Logo Un bout de Ficel", title: "Accueil" %>
  </a>
  <%= partial 'layouts/components/tab' %>
  <!-- Right Navigation -->
  <div class="navbar-ficel-right">
    <!-- Profile picture with dropdown list -->
    <div class="navbar-ficel-item">
      <div class="dropdown">
        <img src="images/lewagon2.gif" class="avatar dropdown-toggle hidden-sm hidden-xs" id="navbar-ficel-menu" data-toggle="dropdown" title="Clin d'oeil au 'Wagon'">
        <ul class="dropdown-menu dropdown-menu-right navbar-ficel-dropdown-menu">
          <li><a href="https://www.lewagon.com/fr" target="_blank">Le Wagon</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-ficel-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-ficel-dropdown-menu">
        <li id="nfi1">Naviguer vers :</li>
        <li><a href="dev_comp.html">Développement</a></li>
        <li><a href="illustration.html">Illustration</a></li>
        <li><a href="autodesk.html">Modelisation 3D</a></li>
        <li><a href="shorts2.html">Animation 3D</a></li>
        <li><a href="unreal.html">Unreal Engine</a></li>
        <li><a href="print.html">Print</a></li>
        <li><a href="gifs.html">Contenu personnalisé</a></li>
        <li><a href="music.html">Audio</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="shop.html">Boutique</a></li>
        <li><a href="about.html">A propos</a></li>
      </ul>
    </div>
  </div>
</div>
