.test {
  position: absolute;
  left: 15%;
  top: 30%;
  transform: scale(0.5);
}

.encart {
  position: relative;
  padding: 10px 0px;
  top: 220px;
  margin: 0 auto;
  text-align: center;
  max-width: 420px;
  border-radius: 6px;
  background: rgba(0.5,0.5,0.5,0.6);
  transition: all ease 3000ms;
  color: $white;
}

.video-cont {
  position: relative;
  width: 100%;
  height: 480px;
}

.videobox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-vid {
  color: white;
  padding: 0.4em;
  margin: 0;
  & p {
    float: right;
  }
}

@media only screen and (max-width: 768px) {
  .encart {
    max-width: 320px;
    top: 220px;
    margin: 2;
    padding: 8px 0 8px 0;
    background: $sky-gradient;
    filter: brightness(0.8);
    height: auto;
    text-align: center;
  }

  .encart-txt-pos {
    color: white;
    text-align: center;
  }

  .encart-txt-pos h3 {
    font-size: 1.5rem;
  }

  .navbar-offset-top {
    border: 3px red solid;
  }
}


