/* Main navbar */
.navbar-ficel {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
  background: $gray-gradient;
  height: 90px;
  width: 100%;
  transition: all ease-in-out 700ms;
}

.nav-offset-top {
  padding-top: 90px;
}

/* Logo */
.navbar-ficel-brand img {
  height: 92px;  ;
  border-radius: 5%;
  transition: all ease-in-out 700ms;
}

/* User Avatar */
.navbar-ficel .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Right section */
.navbar-ficel-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-ficel-item {
  cursor: pointer;
  padding: 10px 10px;
}

/* Navbar link */
.navbar-ficel-link {
  color: #616668;
  font-size: 14px;
}
.navbar-ficel-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-ficel-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  background: $sky-gradient;
}
.navbar-ficel-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $gray !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-ficel-dropdown-menu li > a:hover {
  background: $gray-gradient !important;
  color: $white !important;
}
.navbar-ficel-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 0px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

#nfi1 {
  text-align: center;
  background: rgba(255,255,255,0.5);
  padding: 5px 0px;
  margin: 0px 5px;
  border-radius: 2px;
}




