#about {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-image: linear-gradient(9deg, white 50%, #F4F4F4 50%);

  img {
    width: 150px;
  }

  h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 0px;
    color: rgba(0,0,0,0.7);
  }

  h2 {
    font-size: 17px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
  }

  a {
    color: rgba(0,0,0,0.25);
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 15px;
  }

  .fa-heart {
    color: #D23333;
  }
}


.life {
  margin: 1em 1em;
  padding: 2em .2em;
}

.life-data p {
  text-indent: 2rem;
}

.life-cell {
  background: #ddd;
  display: flex;
  justify-content: space-around;
  vertical-align: center;
  flex-wrap: wrap;
  background: $sky-gradient;

}

.bloc-text {
  max-width: 460px;
  border: 1px black solid;
  border-radius: 3px;
  margin: 0.5em 0.5em;
  padding: 1em 1em;
  background: $gray-gradient;
}

.bloc-text h3 {
  text-align:center;
}

