section {
  background-attachment: fixed;
  background-color: transparent;
}

section.sec-banner {
  width: 100%;
  height: 100vh;
  background-position: middle;
  background: url('../images/ficel2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

section.sec-banner-content {
  display: flex;
  height: 100px;
  font-family: $headers-font;
  color: white;
}

section.sec-skills {
  position: relative;
  width: 100%;
}

section.sec-bg-middle {
  height: 70vh;
  background: url('../images/bg_04.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  }

  .sec-bg-middle h2 {
    position: relative;
    top: 250px;
    text-align: center;
    color: white;
  }

  .sec-bg-middle h3 {
    position: relative;
    top: 350px;
    text-align: right;
    right: 80px;
    color: white;
  }


section.sec-down {
  background-color: #262626;
  text-align: center;
  color: white;
}

.home-mainfbox {
  display: flex;
  background-color: white;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 2px 0px 2px;
  width: 100%;
  overflow: hidden;
}
.home-mainfbox img {
  transition: all ease 500ms;
}

.home-mainfbox img:hover {
  transform: scale(1.3);
  transition: all ease 500ms;
}

.img_wrapper {
  background-color: #fff;
  padding-top: 0px;
  max-width: 230px;
  text-align: center;
}

.footer {
background-color: black;
height: 200px;
}

.bottom {
  bottom: 0px;
}

.avatar-style {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.space {
  padding-left: 30px;
}
