.assistance-frame {
  background-color: rgba(gray, 0.5);
  padding: 10px;
  margin-bottom: 10px;
}

.ass-texte {
  text-align: justify;
  padding: 0px 25px 8px 25px;
  width: 60%;
  border-radius: 5px;
  background: transparent;
  text-indent: 2rem;
  font-weight: bolder;
}

@media only screen and (max-width: 768px) {
  .assist-texte h2 {
    transform: scale(0.8);
  }
}
