.action {
  position: relative;
  text-align: center;
}
  .infoleg {
  position: relative;
  text-align: center;
  color: #e0d5d5;
}

.stylised {
  margin: 20px 4px;
  border-radius: 4px;
  height: 50vh;
  padding: 20px;
  background-color: #eee;
  height: auto;
}
