.title-dev-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  margin-bottom: 20px;
}

.aered {
  padding: 35px 0px 35px 0px;
}

.m-top {
  margin-top: 10px;
}

.ico {
  position: relative;

}

.hidden {
  display: none;
}

.d-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 0px 8px0px;
  background-color: #fff;
}

.dev-title {
  position: relative;
  text-align: center;
  padding: 0px 8px 2px 8px;
  min-width: 33%;
  background: transparent;
  & h1 {
  font-family: $body-font;
  font-weight: bolder;
  }
}

.dark {
  background: #eee;
}

.dev-mainfbox {
  display: flex;
  justify-content: space-around;
  background-color: white;
  flex-wrap: wrap;
  padding: 10px 2px 0px 2px;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 20px;
}


@media only screen and (max-width: 768px) {
  .dev-title h1 {
    font-size: 2rem;
    margin-bottom: 8px;
  }
}
