.dev-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: no-wrap;
  padding: 5px;
}

.aered {
  padding: 35px 0px 35px 0px;
}

.ico {
  position: relative;

}

.hidden {
  display: none;
}

.d-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 0px 8px0px;
  background-color: #fff;
}

.dev-texte {
  position: relative;
  text-align: center;
  padding: 0 8px 2px 8px;
  min-width: 33%;
  background: $gray-gradient;
  border-radius: 5px;
}

.dark {
  background: #eee;
}

.dev-mainfbox {
  display: flex;
  background-color: white;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 2px 0px 2px;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
}


@media only screen and (max-width: 768px) {
  .dev-texte h1 {
    font-size: 2rem;
  }
}
