.white {
  background-color: #fff;
}

.black {
  background-color: black;
  padding-bottom: 10px;
}

.p-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px 8px 0px;
  background-color: #fff;
}

.cont-thumbs {
  background: rgba(gray,0);
  margin: 0px 4px;
  text-align: center;
  padding: 18px;
}

  .cont-thumbs p {
    color: white;
    font-size: 1em;
    padding: 8px 18px;
    text-align: left;
  }

.p-texte {
  text-align: center;
  padding: 0px 15px 8px 15px;
  width: 60%;
  border-radius: 5px;
  background: transparent;
  transition: all ease-in-out 500ms;
}

.p-texte p {
  font-weight: bolder;
}

.p-titre-section {
  background: $sky-gradient;
  text-align: center;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  border: 1px black solid;
}

.cont-thumbs p {
  text-indent: 2rem;
}

.gradient {
  background: $sky-gradient;
}


.p-info-barre {
  background: $light-gray;
  border-radius: 4px;
  padding: 10px 8px 10px 20px;
}

.p-contact-button {
  padding: 10px;
}

a {
  color: black;
  padding: 4px 2px;
}

a:hover {
  text-decoration: none;
  color: purple;
}


.box {
  border: 1px red solid;
  padding: 5px;
}

.thumb-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.sec-print {
  height: 60vh;
  background: url('../images/bg-print2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgbox-white {
  background: $sky-gradient;
}

@media only screen and (max-width: 768px) {

  .p-titre-section {
    border-radius: 2px;
  }

  .p-texte {
    text-align: center;
    width: 90%;
  }

  .p-texte h1 {
    font-size: 3rem;
  }

}






