.white {
  background-color: #fff;
}

.black {
  background-color: black;
  padding-bottom: 10px;
}

.p-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px 8px 0px;
  background-color: #fff;
}

.cont-thumbs {
  background: rgba(gray,0);
  margin: 0px 4px;
  text-align: center;

  h4 {
    padding: 8px 0px;
  }
  p {
    border-radius: 4px;
    font-size: 0.9em;
    padding: 8px 8px;
    text-align: left;
  }
}

.p-texte {
  text-align: center;
  padding: 0px 25px 8px 25px;
  width: 60%;
  border-radius: 5px;
  transition: all ease-in-out 500ms;
}

.p-titre-section {
  background-color: rgba(#F3F3F3,1);
  border-radius: 4px;
  text-align: center;
  padding: 0px 8px 0px 8px;
}

.p-info-barre {
  background: $light-gray;
  border-radius: 4px;
  padding: 10px 8px 10px 20px;
}

.p-contact-button {
  padding: 10px;
}

a {
  color: black;
  padding: 4px 2px;
}

a:hover {
  text-decoration: none;
  color: purple;
}


.box {
  border: 1px red solid;
  padding: 5px;
}

.thumb-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.sec-print {
  height: 70vh;
  background: url('../images/bg-print2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 320px) {
  .sec-print {
  height: 30vh;
  background: url('../images/bg-print2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 4px;
  border-radius: 4px;
  }
}

@media only screen and (min-width: 768px) {
  .sec-print {
  height: 40vh;
  background: url('../images/bg-print2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 4px;
  border-radius: 4px;
  }
}

@media only screen and (min-width: 768px) {
  .sec-print {
  background: url('../images/bg-print2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 4px;
  border-radius: 4px;
  height: 70vh;
  }
}

.p-texte h1 strong {
  font-size:  1em;
}


