.shop-banner {
  margin: 18px 5px 10px 5px;
  height: 130px;
  background-color: #F4F4F4;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.shop-Productsframe {
  position: relative;
  margin-top: 18px;
  padding: 10px;
  background-color: #F4F4F4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 4px;
}

.card {
  width: 260px;
  background-color: orange;
  border-radius: 3px;
  box-shadow: 1 1 1 1 black;
  padding: 8px;
  margin-bottom: 16px;
  background-origin: center center;
  transition: ease-in-out 100ms;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: all ease-in-out 300ms;
}

.card:hover {
  transform: scale(1.1);
  background-color: orange;
  border-radius: 4px;
  box-shadow: 2 2 2 2 black;
  padding: 5px;
  margin-bottom: 10px;
  opacity: 0.8;
  background-color: #777;
  transition: all ease-in-out 100ms;
}

.card::before {
  position: absolute;
  content: "En savoir +";
  font-family: $headers-font;
  font-size: 2rem;
  bottom: -20px;
  left: 70px;
  transition: all ease-in-out 300ms;
  color: black;
  opacity: 0;
  padding: 0px 12px;
  margin: 0px 8px;
  border-radius: 3px;
}

.card:hover::before {
  position: absolute;
  content: "En savoir +";
  opacity: 1;
  bottom: 130px;
  transition: all ease-in-out 200ms;
  background:rgba(255,255,255,0.9);
  transform: scale(1.2);
}

.price {
  position: relative;
}

.productlink {
  margin-top: 5px;
  background:white;
  width: 150px;
  height: 38px;
  line-height: 30px;
  text-align: center;
  font-family: $headers-font;
  border-radius: 4px;
  align: center;
  border: 1px black solid;
  cursor: pointer;
}

.productlink:hover {
  background: orange;
  width: 150px;
  height: 38px;
  line-height: 30px; cursor: pointer;
  text-align: center;
  font-family: $headers-font;
  border-radius: 4px;
  align: center;
  border: 1px black solid;
}

@media only screen and (max-width: 768px) {
  .shop-banner h2 {
    transform: scale(0.7);
  }

}
