[Desktop Entry]
Encoding=UTF-8
Name=Lien vers VENTILATEUR-Dennis--copie.jpg
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=5739a4ce0a&attid=0.1&permmsgid=msg-a:r2760460172933745490&th=1714af4f102d40aa&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-JatipWpEn0iAxA109aVDdmgacaQVUYux_n2492O7Nx1Y1oen47jIkyDVnpd-9TDFtoT_VSLALiomBoqrwK6bcUQux7o_TD5wy4pey0VLPisaB0sYKkmMJFAo&disp=emb&realattid=ii_k8n79v7k0
Icon=text-html
