<div class="container">
  <div id="about">
    <div class="about-content aered">

      <ul class="list-inline">
        <% data.users.each do |user| %>
          <li>
            <% link_to "https://kitt.lewagon.com/alumni/#{user.github_nickname}", target: "_blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github_nickname}", class: "img-circle" %>
            <% end %>
            <h2><%= user.name %></h2>
            <p>
              <% link_to "https://github.com/#{user.github_nickname}", target: "_blank" do %>
              <i class="fa fa-github"></i> <%= user.github_nickname %>
              <% end %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div><!-- end about -->
  <div class="life-cell">
  </div>

  <!-- menu top-left --></div>
  <div id="organ-menu-top" class="organ-menu-top">
    <div class="title-omt">Informations</div>
    <div class="design-omt">
      <ul>
        <i class="fa fa-arrow-down"></i>
        <img id="icon-omt" src="../images/menu-omt.gif" alt="nav">
        <li><a href="#section-1">Voyages</a></li>
        <li><a href="#section-2">Plongée sous-marine</a></li>
        <li><a href="#section-3">Art & Bricolage</a></li>
        <li><a href="#section-4">Sciences et spiritualité</a></li>
      </ul>
    </div>
  </div>
  <div class="text-center aered"><h3></h3></div>




</div><!-- container -->
