
<div class="text-center"><%= image_tag "enconstr.jpg", height: "150px" %></div>
<div class="container">
  <div class="mov-main">
     <span class="mov-info">Application Flash pour aider les plus jeunes à identifier les chiffres et apprendre à les tracer.</span>
     <a href="http://ficel1.free.fr/CD-ROM EDUCATIF/Les chiffres.swf"> <%= image_tag "educ1.gif", alt: "alttext" %></a>
  </div>
</div>

