<div data-aos="fade-up">
  <div class="title-wrap">
    <div class="assist-texte text-center">
      <h1>Informatique</h1>
      <h2>Dépannage et assistance tout public.</h2>
    </div>
  </div>
</div>
<br>
<div class="assistance-frame">
  <div class="container aered marges text-center">
    <h4>Installation de matériels, de logiciels et prise en main.</h4>
    <h4>Diagnostics et réparations de pannes</h4>
    <h4>Entretien de matériel</h4>
  </div>
</div>
<br>
<div class="text-center aered">
  <button class="btn btn-success btn-lg">Contactez-moi par téléphone au 06.70.98.95.93</button>
</div>
<br>
<div class="container ass-texte">
  <p> Chez 1Bout2Ficel, nous proposons des prestations de dépannage informatique pour résoudre les problèmes de vos équipements et de vos logiciels, ainsi que pour vous accompagner dans leur utilisation et leur optimisation.</p><p> Nous sommes à votre disposition pour un diagnostic gratuit du problème que vous rencontrez, suivi d’une prestation de dépannage qui n’est payante que si elle est réussie. Chez 1Bout2Ficel, c’est “dépanné ou remboursé”. Vous savez en toute transparence à quoi vous vous engagez, quelque soit le temps mis en oeuvre pour résoudre votre problème.</p><p>Nos interventions se déroulent à domicile. Vous pouvez donc assister en direct à votre dépannage informatique avec nos explications.</p><p>A la fin de votre dépannage, nous réalisons un point final avec vous, afin de valider la résolution complète de votre problème. La prestation de dépannage informatique est facturée uniquement en cas de succès complet. Pas de mauvaises surprises !</p>
</div>
<div class="text-center aered">
  <button class="btn btn-success btn-lg">Forfait 39€/H + Frais de déplacements 0.20cts/km</button>
</div>
<br><br>
<div class="assistance-frame">
  <div class="container aered marges text-center">
    <h4>Formation personnalisée bureautique et internet :</h4>
    <p>Savoir utiliser les outils gratuits, comprendre comment sont stockées vos informations, faire une recherche éfficace sur internet,<br>envoyer des e-mails, gérer votre boite mail, communiquer avec vos enfants et petits enfants grâce aux réseaux sociaux. <br>Comprendre les risques et les choses à ne pas faire dans ce que vous dévoilez.</p>
  </div>
</div>

  <div class="container texte">
    <p class="text-center">Tout va trop vite ! Vous vous sentez dépassé ? Faîtes vous aider ! <br>Quelques heures par-ci, quelques heures par-là suffiront à vous remettre dans le bain, à reprendre le train en marche !<br> Croyez en vos capacités d'apprendre !!!</p>
  </div>

<div class="assistance-frame">
  <div class="container aered marges text-center">
    <h4>Formation multimmédia personnalisée :</h4>
    <p class="text-center">Motion Design, animation, 3D... </p>
    <div class="text-center">
      <%= image_tag "ico-photoshop.png", alt: "Adobe Photoshop" %>
      <%= image_tag "ico-afterfx.png", alt: "After Effects" %>
      <%= image_tag "ico-premiere.png", alt: "Adobe Premiere" %>
      <%= image_tag "ico-3dsmax.png", alt: "3dsMax" %>
    </div>
  </div>
</div>

<div class="text-center aered">
  <button class="btn btn-success btn-lg">Contactez-moi par téléphone au 06.70.98.95.93</button>
</div>
