
<div data-aos="fade-up">
  <div class="title-wrap">
    <div class="ico-title hidden-xs">
      <%= image_tag "ico-3d.png" %>
    </div>
    <div class="assist-texte text-center">
      <h1>Informatique</h1>
      <h2>Dépannage, assistance et formation à domicile</h2>
    </div>
    <div class="text-center hidden-sm hidden-xs">
      <h4>Logiciels favoris</h4>
      <%= image_tag "ico-3dsmax.png", alt: "3dsMax", height:60 %>
      <%= image_tag "ico-mudbox.png", alt: "Mudbox", height:60 %>
      <%= image_tag "ico-photoshop.png", alt: "Photoshop", height:60 %>
    </div>
  </div>
</div>

<div class="text-center aered">
  <button class="btn btn-success btn-lg">Contactez-moi par téléphone au 06.70.98.95.93</button>
</div>

<div class="assistance-frame">
  <div class="container aered marges text-center">
     <h4>Installation de matériels, de logiciels et prise en main.</h4>
     <h4>Diagnostics et réparations de pannes</h4>
     <h4>Entretien de matériel</h4>
     <h4>Formation personnalisée : Recherches internet, réseaux sociaux, e-mails, bureautique, modelisation 3D...</h4>
  </div>
</div>

<div class="container texte">
  <p> Chez 1Bout2Ficel, nous proposons des prestations de dépannage informatique pour résoudre les problèmes de vos équipements et de vos logiciels, ainsi que pour vous accompagner dans leur utilisation et leur optimisation.</p><p> Nous sommes à votre disposition pour un diagnostic gratuit du problème que vous rencontrez, suivi d’une prestation de dépannage qui n’est payante que si elle est réussie. Chez 1Bout2Ficel, c’est “dépanné ou remboursé”. Vous savez en toute transparence à quoi vous vous engagez, quelque soit le temps mis en oeuvre pour résoudre votre problème.</p><p>Nos interventions se déroulent à domicile. Vous pouvez donc assister en direct à votre dépannage informatique avec nos explications.</p><p>A la fin de votre dépannage, nous réalisons un point final avec vous, afin de valider la résolution complète de votre problème. La prestation de dépannage informatique est facturée uniquement en cas de succès complet. Pas de mauvaises surprises !</p>
</div>

<div class="text-center aered">
  <button class="btn btn-success btn-lg">Forfait 39€/H + Frais de déplacements 0.20cts/km</button>
  <br><br>
  <button class="btn btn-success btn-lg">Contactez-moi par téléphone au 06.70.98.95.93</button>
</div>
