
<div class="container">
  <div class="action">
    <h3>Un Bout De Ficel</h3>
    <h4>Serge CLEORON<br>33610 CESTAS</h4>
    <h5>Tel: (+33) 670 98 95 93<br>Siret : 420 580 987 00022</h5>
  </div>

  <div class="stylised ">

    <form class="form-group" action="https://formspree.io/sc21417@gmail.com" method="post">
      <div class="col-sm-4">
        <label>Prénom</label>
      <input class="form-control" type="text"name="prénom" placeholder="Saisissez ici votre prénom">
      <br>
      <label>Nom</label>
      <input class="form-control" type="text"name="nom" placeholder="Saisissez ici votre Nom">
      <br>
      <label>E-mail</label>
      <input class="form-control" type="email" name="_replyto" placeholder="Saisissez ici votre E-mail">
      <br>
      <label>Message</label>
      </div>
      <textarea class="form-control" name="body" rows="6" placeholder="Votre message, description de votre projet... (Vous pouvez redimmensionner cette fenêtre pour plus de clarté)."></textarea>
      <br>
      <input type="submit" value="Envoyer">
    </form>

  </div>



