
<div class="container">
  <div class="action">
    <h3>Un Bout De Ficel</h3>
    <h4>Serge CLEORON<br>33610 CESTAS</h4>
    <h5>Tel: (+33) 670 98 95 93<br>Siren : 420 580 987 </h5>
  </div>

  <div class="stylised ">

    <form class="form-group" action="https://formspree.io/sc21417@gmail.com" method="post">
      <div class="col-md-3 form-group">
      <input class="form-group" type="text"name="prénom" placeholder="Votre prénom">
      <input class="form-group" type="text"name="nom" placeholder="Votre Nom">
      <input class="form-group" type="email" name="_replyto" placeholder="Saisissez ici votre E-mail">
      </div>
      <textarea class="form-control" name="body" rows="4" placeholder="Votre message, description de votre projet..."></textarea>
      <br>
      <input type="submit" value="Envoyer">
    </form>

  </div>



