 <div class="text-center aered">
   <h1>Dynamique toycar.</h1>
   <p>Utilise les propriétés dynamique de 3dsMax 8. </p>
   <video width="640" height="480" controls>
    <source src="shorts/toycar.mp4" type="video/mp4">
  </video>
  <div class="text-center aered">
    <%= link_to 'retourner à Modelisation 3D', 'autodesk.html', class: "btn btn-primary"%>
  </div>
</div>
