 <div class="container">
   <div class="text-center aered">
     <h1>J'explore Unreal Engine 4.</h1>
     <h4> Gestion de mouvements avec contrôles clavier/sourie dans le moteur temps réel. Importation FBX, premiers pas avec Blue-Print, blendspaces...</h4>
     <video width="100%" height="auto" controls>
      <source src="shorts/unreal2.mp4" type="video/mp4">
    </video>
    <div class="text-center aered">
      <%= link_to 'retourner à Modelisation 3D', 'autodesk.html', class: "btn btn-primary"%>
    </div>
  </div>
   <div class="text-center aered">
     <h1>Mise en application des connaissances.</h1>
     <h4>Création de mon propre personnage sous 3dsmax, importation et gestion des animations (Persona, Blendspaces).<br>Création d'un 1er niveau et appréhension des outils de level design.<br>Système d'interaction avec des objets, des NPC (None Player Character), avec l'environnement.<br>Inventaire, système de quête (Structures, enumerations, ...).<br>Intelligence artificielle(Behavior Tree, Blackboard).</h4>
     <video width="100%" height="auto" controls>
      <source src="shorts/UE4_2.mp4" type="video/mp4">
    </video>
    <div class="text-center aered">
      <%= link_to 'retourner à Modelisation 3D', 'autodesk.html', class: "btn btn-primary"%>
    </div>
  </div>
</div>
