 <div class="container">
   <div class="text-center aered">
     <h1>Mon 1er personnage sous UE4.</h1>
     <p>Je teste l'importation de décors fait sous 3dsMax. La gestion de mouvements du personnage avec tous ses contrôles clavier / sourie dans le moteur temps réel. Importation FBX, Test des Blue-Print, blendspaces...</p>
     <video width="100%" height="auto" controls>
      <source src="shorts/unreal2.mp4" type="video/mp4">
    </video>
    <div class="text-center aered">
      <%= link_to 'retourner à Modelisation 3D', 'autodesk.html', class: "btn btn-primary"%>
    </div>
  </div>
   <div class="text-center aered">
     <h1>Mon 1er jeu sous UE4.</h1>
     <p>Création de mon propre personnage dans un 1er décor. Système d'interaction avec des objets, des NPC (None Player Character), avec l'environnement. Inventaire, système de quête...</p>
     <video width="100%" height="auto" controls>
      <source src="shorts/UE4_2.mp4" type="video/mp4">
    </video>
    <div class="text-center aered">
      <%= link_to 'retourner à Modelisation 3D', 'autodesk.html', class: "btn btn-primary"%>
    </div>
  </div>
</div>
